<div class="container">

        <h1 class="display-3">Topics that will be covered</h1>
<div class="list-group">
    <a href="#" class="list-group-item">•	Components</a>
    <a href="#" class="list-group-item">•	Component interaction</a>
    <a href="#" class="list-group-item">•	Services</a>
    <a href="#" class="list-group-item">•	Directives- inbuilt and custom</a>
    <a href="#" class="list-group-item">•	Routing</a>
    <a href="#" class="list-group-item">•	Dependency Injection and how it is achieved in angular</a>
    <a href="#" class="list-group-item">•	Modules</a>
    <a href="#" class="list-group-item">•	Rxjs and observables</a>
    <a href="#" class="list-group-item">•	http requests</a>
    <a href="#" class="list-group-item">•   component lifecycle</a>
  </div>
 
 </div>